<p><%= @resource.email %>様</p>

<p>パスワード変更のリクエストがありました。下記サイトから変更を行えます。</p>

<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし覚えがない場合は、そのままこちらのメールを削除くださいませ。</p>
<p>パスワードはリンク先に接続し、新しいパスワードを作成しない限り変更されません。</p>
