// registration new page
.new-registration-image{
  position: absolute;
  width: 30%;
  left: 10%;
  bottom: 0;
  opacity: 0.3;
}

// session new page
.new-session-image{
  position: absolute; 
  opacity: 0.1;
}