// Place all the styles related to the public/dictionaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./../variable";

// show page
.top-box{
  border: 5px solid $sub-color-strong;
  background-color: $sub-color-weak;
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dictionary-show-heading{
  text-shadow: none ;
}

.card-index{
  margin-bottom: 30px;
}

// question page
.answer-card{
  border: 3px solid $main-color-weak;
  height: 220px !important;
  img{
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    
  }
  .answer-form{
    opacity: 0.5;
  }
}

.result-card{
  height: 250px !important;
  img{
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
  }
  .result-content{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    span{
      display: inline-block;
      width: 100%;
      white-space: nowrap;
    }
  }
}

