// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./../variable";

// user-info-sidebar

.my-img{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-top: 15px;
}

.ellipsis-table{
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.card{
  height: 200px;
  font-family: 'Caveat', cursive;
  border-radius: 10px;
  outline: 3px solid #ccc;
  box-shadow: 2px 2px #ccc;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.3s;
  overflow: hidden;
  // &:hover{
  //   border: 3px solid rgba(66, 139, 242, 0.9);
  //   box-shadow: 0 0;
  // }
  .user-image{
    margin: 3px;
    width: 20px;
    height: 20px;
  }
  .card-name{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card-image-box{
    border-top:  1px dotted rgb(66, 139, 242);
    border-bottom:  1px dotted rgb(66, 139, 242);
    overflow: hidden;
    .card-image{
      min-width: 100%;
      max-width: 100%;
      min-height: 130px;
      max-height: 130px;
      transition: 0.3s;
    };
  }

  &:hover{
    box-shadow: 5px 5px 10px 5px #ccc;
    // border: 8px outset #ccc
    .card-image{
      transform: scale(1.2, 1.2);
    }
    .card-name{
      font-weight: bold;
    }
  }
}

// .col-xs-6-card{
//   .card-name{
//     font-size: 20px !important;
//   }
//   .user-image{
//     width: 25px !important;
//     height: 25px !important;
//   }
// }