// Place all the styles related to the public/words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./../variable";

//word-index page
.word-table{
  font-size: 16px;
}


//word-show page
.card-show{
  text-align: center;
  padding: 10px 5px;
  border-radius: 20px;
  outline: 5px solid #ccc;
  box-shadow: 5px 5px #ccc;
  // font-family: "Caveat", cursive;
  font-size: 16px;
  overflow: hidden;
  .card-show-image{
    width: 70%;
    height: 70%;
  }
  .card-show-table tr th, td{
    text-align: left;
    overflow: none !important;
    white-space: none !important;
    text-overflow: none !important;
  }
}

// word-edit page
.word-edit-image{
  position: absolute;
  right: 0;
  bottom: 10%;
  opacity: 0.2;
  z-index: 0;
}
.label-info{
  display: inline-block;
  margin-bottom: 2px;
  padding: 1px 2px;
  color: black;
}