<h3><span style="border: 3px solid #ccc;"><%= @user.name %>様の本日の追記件数</span></h3>

<h4><span style="border-bottom: 1px solid red;"><%= @count %>件追記しました！</span></h4>
<p>
<% if @count == 0 %>
今日は知らない単語と出会うことがなかっでしょうか。<br>
英単語は一つ一つの積み重ねが大切です！<br>
既に知っている単語でも違う角度から見たら、新しい意味がありますよ！<br>
明日は1つ以上登録しましょう！<br>

<% elsif @count > 0 && @count < 10 %>
この調子で着実に英単語を覚えていきましょう！<br>
上げた単語の中には、知らない意味や用法があるかもしれません。<br>
一つの単語でも別の意味だと分からない、という事が結構ありますよ！<br>
また、集めるだけでなく、テストも大切ですよ！<br>
ページ上部の「Dictionary」からテストが受けられます！<br>

<% else %>
たくさんの単語が辞書に入りましたね！<br>
この調子でもっとたくさんの単語を集めていきましょう！<br>
また、集めるだけでなく、テストも大切ですよ！<br>
ページ上部の「Dictionary」からテストが受けられます！<br>

<% end %>
</p>

<hr>

明日も1ページずつ増やしていきましょう！<br>
EngPicスタッフより