<h3><span style="border: 3px solid #ccc;"><%= @user.name %>様の今月の追記件数</span></h3>

<h4><span style="border-bottom: 1px solid red;"><%= @count %>件追記しました！</span></h4>
<p>
今月はいかがでしたでしょうか！<br>
英単語の習得は一朝一夕には為し得られません。<br>
しかし日常のほんの些細なところに、きっかけはあります！<br>
普段何気なく使っている道具、食べ物、建物、<br>
そこに英単語を学ぶきっかけは隠れています！<br>
</p>

<p>
  来月は<%= @count + 5 %>件目指して頑張りましょう！
</p>

<hr>

明日も1ページずつ増やしていきましょう！<br>
EngPicスタッフより