// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admin-index page
.inactive{
  background-color: rgba(255, 0, 0, 0.2);
}

.no-overflow-table{
  width: 100%;
  // table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}

.ellipsis-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}