// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-word-card{
  height: 150px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
  .admin-word-image{
    min-height: 70%;
    max-height: 70%;
    min-width: 100%;
    max-width: 100%;
  }
  .admin-word-text{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;    
    text-overflow: ellipsis;
  }
}

.no-overflow-table{
  width: 100%;
  // table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}

.ellipsis-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}