/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../../vender/assets/stylesheets/.
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 @import "./variable"; // scssによる変数（ページの背景、メイン色のrgba）
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Caveat Brush', cursive;}
}

// h1, h2, h3, h4, h5, h6, nav{
//   font-family: "Yu Gothic", sans-serif !important;
// }

body{
  background: image-url("table.jpg");
}
.container{
  position: relative;
}

.main{
  padding: 0 0 70px;
}

// header

.logo{
  color: white !important;
  text-shadow: 2px 2px #ccc;
}

.navbar{
  background-color: $main-color-strong;
  .navbar-nav{
    li{
      overflow: hidden;
      a{
        color: white;
        transition: 0.3s;
        &:hover{
          color: white;
          outline: 5px solid white;
          outline-offset: -5px;
        }
      }
    }
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  .footer-text {
    height: 50px;
    line-height: 50px;
    color: white;
    margin-top: 30px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: $main-color-strong;
  }
}

.row{
  padding: 0 15px;
}

.heading{
  // font-family: 'Caveat', cursive;
  display: inline-block;
  border-bottom: 5px double #ccc;
  text-shadow: 4px 4px 5px rgb(66, 139, 242);
}

.relative-class{
  position: relative;
}

.absolute-fixed-img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.z-index-1{
  z-index: 1;
}

.page-back{
 min-height: 100%;
 padding: 30px 0 0;
 background: $page-image;
 background-color: rgb(245, 246, 245);
 z-index: -1;
 border-right: 15px solid #eee;
 border-bottom: 10px solid #eee;
}

.margin-bottom-sm{
  margin-bottom: 15px;
}

.margin-bottom-md{
  margin-bottom: 30px;
}

.margin-top-sm{
  margin-top: 15px;
}

.invalid{
  background-color: #f08080;
}

.top-row{
  border: 3px solid $sub-color-strong;
  background-color: $sub-color-weak;
  padding: 20px 10px;
}

table tr th, td{
  vertical-align: middle !important;
}

.edit-img{
  width: 80%;
  height: 80%;
  margin: 10px 0;
}

.white-space-nowrap{
  white-space: nowrap;
}

.word-break{
  word-break: break-word;
}

.field_with_errors{
  display: inline;
}