/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../../vender/assets/stylesheets/.
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 @import "./variable"; // scssによる変数（ページの背景、メイン色のrgba）
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html, body{
//   min-height: 100% !important;
//   .container{
//     min-height: 100% !important;
//   }
// }


.container{
  position: relative;
}

.main{
  padding: 0 0 70px;
}

.navbar{
  background-color: $main-color-strong;
  .navbar-nav{
    li{
      overflow: hidden;
      a{
        color: white;
        transition: 0.3s;
        &:hover{
          color: white;
          outline: 3px solid white;
          outline-offset: -3px;
        }
      }
    }
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-text {
    height: 50px;
    line-height: 50px;
    color: white;
    margin-top: 30px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: $main-color-strong;
  }
}

.row{
  padding: 0 15px;
}

.heading{
  display: inline-block;
  border-bottom: 5px double #ccc;
  text-shadow: 4px 4px 5px rgb(66, 139, 242);
}

.relative-class{
  position: relative;
}

.absolute-fixed-img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.z-index-1{
  z-index: 1;
}

.page-back{
 min-height: 100%;
 padding: 40px 0 0;
 background: $page-image;
 background-size: cover;
 z-index: -1;
}

.margin-bottom-sm{
  margin-bottom: 15px;
}

.margin-bottom-md{
  margin-bottom: 30px;
}

.margin-top-sm{
  margin-top: 15px;
}

.invalid{
  background-color: #f08080;
}

