$page-image: image-url('note2-fixed.png') repeat-x;
$main-color-strong: rgba(66, 139, 242, 0.9);
$main-color-weak: rgba(66, 139, 242, 0.3);
$sub-color-strong: rgba(242, 181, 65, 0.9);
$sub-color-weak: rgba(242, 181, 65, 0.3);