<!--<div class="row">-->
<!--  <div class="col-sm-10 col-sm-offset-1">-->
<!--    <h1 class="text-center heading">How to Use</h1>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-6">-->
<!--        <section class="howto-section">-->
<!--          <h3 class="howto-heading">1. 撮影</h3><br>-->
<!--          <p class="howto-content">辞書に載せたい単語を撮影します。</p>-->
<!--          <%#= image_tag("howto1.jpg", class: "howto-image") %>-->
<!--        </section>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <section class="howto-section">-->
<!--          <h3 class="howto-heading">2. 入力</h3>-->
<!--          <p class="howto-content">単語・意味・例文・タグを入力します。</p>-->
<!--          <%#= image_tag("howto2.png", class: "howto-image") %>-->
<!--        </section>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row margin-bottom-sm">-->
<!--      <div class="col-lg-6">-->
<!--        <section class="howto-section">-->
<!--          <h3 class="howto-heading">3. 投稿</h3>-->
<!--          <p class="howto-content">その単語を投稿し、あなたの辞書に登録します。他の人の投稿した単語を加えたり、いい写真を投稿する人をフォローすることもできます。</p>-->
<!--          <%#= image_tag("howto3.png", class: "howto-image") %>-->
<!--        </section>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <section class="howto-section">-->
<!--          <h3 class="howto-heading">4. テスト</h3>-->
<!--          <p class="howto-content">自分の辞書に入っている単語をテストします。タグ別・辞書からランダムと選択することが出来ます。</p>-->
<!--          <%#= image_tag("howto4.png", class: "howto-image") %>-->
<!--        </section>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-sm-12">-->
<!--    <h1 class="text-center"><%#= link_to "Let's make your own dictionary!!", new_user_session_path %></h1>-->
<!--  </div>-->
<!--</div>-->