<% if resource.errors.any? %>
	<h4 style="font-weight: bold;"><%= resource.errors.count %>件のエラーが発生し、保存出来ませんでした。</h4>
	<ul style="list-style-position: inside;">
		<% resource.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>