<% if resource.errors.any? %>
	<h3><%= resource.errors.count %>件のエラーが発生し、保存出来ませんでした。</h3>
	<ul>
		<% resource.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>