<div class="row footer">
  <div class="col-sm-12">
    <% if admin_signed_in? %>
      <div class="footer-text" style="background: blue">
        <p class="text-center" >EngPic</p>
      </div>
    <% else %>
      <div class="footer-text">
        <p class="text-center" >EngPic
          <span>Logo made by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo free logo creator</a></span>
        </p>
      </div>
    <% end %>
  </div>
</div>