<div class="row">
  <div class="col-sm-12">
    <% if admin_signed_in? %>
      <div class="footer" style="background: blue">
    <% else %>
      <div class="footer">
    <% end %>
      <p class="text-center" >EngPic</p>
    </div>
  </div>
</div>